* {
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    margin: 4vw 2vw 0 2vw;
    color: rgb(44, 44, 44);
}

ol {
    margin: 1vw 2vw 0 2vw;
}

h2{
    text-align: center;
}

p {
    margin: 2vw;
}

/* navigation */

nav {
    margin-bottom: 2rem;
}

ul.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:cadetblue;
}

li.menu-li {
    float: left;
}

li.menu-li a {
    display: block;
    padding: 2vw;
    color: ivory;
    text-decoration: none;   
}

li.menu-li a:hover {
    background-color: gray;
}

section.body {
    margin-bottom: 24vw;
}

.clearfix{
    float: left;
    column-count: 3;
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


article {
    float: left;
    width: 50%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    
}

footer > p {
    color: white;
    text-align: center;
}

.div-textbox {
    float: left;
    margin: 20% 0% 20% 3.33%;
    overflow: auto;
    height: 30vw;
    width: 30vw;
    background-color: rgb(236, 236, 236);
    border: 1px solid lightgrey;
    text-align: center;
    
}

@media screen and (max-width: 500px) {
    ul {
        display: block;
        width: 100%;
    }
    .div-textbox {
        float:none;
        width: auto;
    }
}